* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

footer {
    color: blueviolet;
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    position: fixed; bottom: 0;
    margin: 5px;
}

#sentence-container {
    /* border: black solid 2px; */
    position: absolute;
    width: 100vw;
}

#input-sentence {
    width: 70%;
    border-radius: 4px;
    font-size: large;
    margin: 5px"
}


.grid-container {
    display: grid;
    grid-template-areas:
    "hero hero  hero "
    ".    shoot  .   "
    "left switch right";
}

@media screen and (max-width: 1280px) {
    #control-buttons > input {
        color: white;
        background-color: blueviolet;
        border-radius: 4px;
        margin: 5px;
        padding: 5px;
        touch-action: none;
    }
    }




    #shoot-button {
        grid-area: shoot;
    }

    #left-button {
        grid-area: left;
    }

    #switch-button {
        grid-area: switch;
    }

    #right-button {
        grid-area: right;
    }

    #name-tag {
        grid-area: hero;
    }

    h1 {
        /* color: red; */
        font-size: 70px;
        margin: 40px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }


    #subtitle {
        margin: 50px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }

    body {
        margin: 0
    }

    #hidden-punc {
        visibility: hidden;
    }

    .go-away {
        display: none;
    }

    #start {
        text-align: center;
    }

    @media screen and (max-width: 480px) {

    h1 {
        /* color: red; */
        font-size: 50px;
        margin: 50px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }

    h5 {
        font-size: 12px;
    }

    #input-container {
        flex-direction: column;
    }

    #input-sentence {
            width: 100%;
            border-radius: 4px;
            font-size: large;
            margin: 5px"
        }

        #output {
            font-size: 30px;
            margin: 50px 10px 10px 10px;
        }
    }
