* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

:root {
    --color: whitesmoke;
}



#input-container {
    display:flex;
    justify-content: center;
    padding: 5px;
    width: 70%;
    position: fixed;
     margin: 250px 60px 60px 60px;
}

#banner {
    position: fixed;
    margin-top: 40px;
}

footer {
    color: blueviolet;
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    position: fixed; bottom: 0;
}

#hint-button {
    position: fixed;
        bottom: 20;
        left: 30;
}


#sentence-container {
    /* border: black solid 2px; */
    position: absolute;
    width: 100vw;
}

#input-sentence {
    width: 70%;
    border-radius: 4px;
    font-size: large;
    margin: 5px"
}


.grid-container {
    display: grid;
    grid-template-areas:
    "hero hero  hero "
    ".    shoot  .   "
    "left switch right";
}

#name-tag {
    color: var(--color);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#control-buttons {
    position: fixed;
        bottom: 20;
        right: 30;
}

/* @media screen and (max-width: 1280px) { */
    #control-buttons > input {
        color: white;
        background-color: blueviolet;
        border-radius: 4px;
        margin: 5px;
        padding: 5px;
        touch-action: none;

    }
    /* } */




    #shoot-button {
        grid-area: shoot;
    }

    #left-button {
        grid-area: left;
    }

    #switch-button {
        grid-area: switch;
    }

    #right-button {
        grid-area: right;
    }

    #name-tag {
        grid-area: hero;
    }

    h1 {
        /* color: red; */
        font-size: 300%;
        margin: 50px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }


    #subtitle {
        margin: 50px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }


    #punc-button {
        margin: 5px;
        font-family: 'Palanquin', sans-serif;
        color: white;
        padding: 2px;
        background-color: blueviolet;
        border-radius: 4px;
    }

    body {
        margin: 0
    }

    .hidden-punc {
        visibility: hidden;
        /* color: white; */
    }

    .highlighted-punc {
        /* background-color: red; */
        visibility: visible;
        color: white;
        border: dashed lightblue 3px;
    }

    .go-away {
        display: none;
    }

    #start {
        text-align: center;
    }

    @media screen and (max-width: 480px) {

    h1 {
        /* color: red; */
        font-size: 50px;
        margin: 50px;
        position: fixed;
        font-family: 'Palanquin', sans-serif;
    }

    h5 {
        font-size: 12px;
    }

    #input-container {
        flex-direction: column;
    }

    #input-sentence {
            width: 100%;
            border-radius: 4px;
            font-size: large;
            margin: 5px"
        }

        #output {
            font-size: 30px;
            margin: 50px 10px 10px 10px;
        }
    }
