* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

footer {
    color: blueviolet;
    font-family: 'Palanquin', sans-serif;
    text-transform: uppercase;
    position: fixed; bottom: 0;
    margin: 5px;
}

#sentence-container {
    /* border: black solid 2px; */
    position: absolute;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-areas:
    ".    shoot  .    "
    "left switch right";
}

#control-buttons > input {
    padding: 5px;
}

#shoot-button {
    grid-area: shoot;
}

#left-button {
    grid-area: left;
}

#switch-button {
    grid-area: switch;
}

#right-button {
    grid-area: right;
}

h1 {
    /* color: red; */
    font-size: 80px;
    margin: 50px;
    position: fixed;
    font-family: 'Palanquin', sans-serif;
}

#subtitle {
    margin: 50px;
    position: fixed;
    font-family: 'Palanquin', sans-serif;
}

body {
    margin: 0
}

#hidden-punc {
    visibility: hidden;
 }

 .go-away {
    display: none;
}

#start {
    text-align: center;
}
